/* Cacher le curseur natif partout */
* { cursor: none !important; }

.custom-cursor {
  position: fixed;
  width: 120px;
  height: 120px;
  pointer-events: none; /* ne bloque pas les clics */
  z-index: 9999;
  transform: translate(0%, 0%);

  /* Ton visuel de curseur — à remplacer par ton image */
  /* background: #FFE800;
  border: 2px solid #111;
  clip-path: polygon(0 0, 60% 0, 100% 40%, 60% 40%, 60% 100%, 0 100%); */
  background-image: url("../pointers/pointer.png");
  background-size: contain;
  background-repeat: no-repeat;
}

@keyframes cursor-back-forth {
  0%   { transform:  translateX(0px) translateY(0px); }
  50%  { transform:  translateX(8px) translateY(8px); }
  100% { transform:  translateX(0px) translateY(0px); }
}

.custom-cursor.is-hovering {
  animation: cursor-back-forth 0.25s step-end infinite;
 background-image: url("../pointers/pointer.png");
  background-size: contain;
  background-repeat: no-repeat;
}